{% extends 'base.html'%}

{%block title%}
    Lista Articoli
{%endblock title%}

{%block content%}
    {% for articolo in articoli %}
        {%if pk%}
            <h5>Autore: {{articolo.giornalista}}</h5>
            <h1>{{articolo.titolo}}</h1>
            <h3>{{articolo.contenuto}}</h3>
            <hr>    
        {%else%}
            <h5>Autore: {{articolo.giornalista}}</h5>
            <h1>{{articolo.titolo}}</h1>
            <h3>{{articolo.contenuto}}</h3>
            <hr>
        {%endif%}
    {% endfor %}
{%endblock content%}